{% assign product_url = product.url %}

{% if collection %}
    {% assign product_url = product.url | within: collection %}
{% endif %}

<div class="product" {{ block_attributes }}>
    <a href="{{ product_url }}">

        <div class="product__image-area">
            <img src="{{ product.featured_image | img_url: '500x' }}" alt="{{ product.title }}" class="product__image" />
        </div>

        <div class="product__info-area">

            <h3 class="product__title">
                {{ product.title }}
            </h3>

            {% if hide_price != true %}
                <p class="product__price">
                    {{ product.price | money_with_currency }}
                </p>
            {% endif %}

        </div>
        
    </a>
</div>