<section class="section section--featured-products">

    {% if section.settings.heading != blank %}
      <h2 class="featured-products__heading">
        {{ section.settings.heading }}
      </h2>
    {% endif %}

    <div class="featured-products__products">
        {% for block in section.blocks %}
            {% assign product = all_products[block.settings.product] %}

            <div class="featured-products__product product" {{ block.shopify_attributes }}>
                <a href="{{ product.url }}">
                    <div class="product__image-area">
                        <div class="product__image-overlay"></div>
                        <img src="{{ product.featured_image | img_url: '500x' }}" alt="{{ product.title }}" class="product__image" />
                    </div>
                    <h3 class="product__title">
                        {{ product.title }}
                    </h3>
                </a>
            </div>
        {% endfor %}
    </div>

</section>

{% schema %}
  {
    "name": "Featured Products",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "products",
        "name": "Products",
        "settings": [
          {
            "id": "product",
            "type": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Products",
        "category": "Boho Sections"
      }
    ]
  }
{% endschema %}