<section
class="search flex--column align--center"
style="
background: {{ section.settings.section_bg }}
">

{% paginate search.results by 8 %}

<!-- if search is not performed then display the following design -->
  <div class="searchbar">

    {% if search.results_count == 0 or search.performed == false %}

      <div class="empty-page-content flex--column">
        <h1 class="h2">
          {{ 'general.search.title' | t }}
        </h1>

    {% else %}

      <div class="section-header text-center">
        <h1 class="h2">

          {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }

        }</h1>
    {% endif %}
          <div class="">
            <div class="">
              <form action="/search" method="get" role="search" class="search">
                <div class="input-group">
                  <input type="search"
                    id="SearchInput"
                    class="input-group__field search__input"
                    name="q"
                    value="{{ search.terms | escape }}"
                    placeholder="{{ 'general.search.placeholder' | t }}"
                    aria-label="{{ 'general.search.placeholder' | t }}"
                    autofocus>
                    {% comment %}
                  <span class="input-group__btn">
                    <button class="btn search__submit" type="submit">{{ 'general.search.submit' | t }}</button>
                  </span>
                  {% endcomment %}
                </div>
              </form>
            </div>
          </div>
          {% comment %}
          {% if search.performed and search.results_count == 0 %}
            <hr class="hr--small hr--invisible">
            <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
          {% endif %}


    </div>
  </div>
  {% endcomment %}
  </div>
</section>

<!-- If search is performed then outlay the following design -->
<section class="section-container" style="
background: {{ section.settings.section_bg }};
{% if search.results_count == 0 or search.performed == false %} display: none; {% endif %}
">
  {% if search.performed %}
    {% comment %}
    {% if search.results_count > 0 %}
      <hr>
    {% endif %}
    {% endcomment %}

    <div class="page-width search-products">
      <div class="grid">
        <header class="grid__item">
          <hr style="margin: 0; padding: 0; border-color: #000;">
          <h3 class="h3 section-title">
            {{ section.settings.product_heading }}
          </h3>
        </header>
        {% for item in search.results %}
          <div class="grid__item medium-up--one-quarter">
            <a href="{{ item.url }}">
              {% if item.object_type == 'product' %}
                {% include 'search-product-card-list', product: item %}
              {% else %}
                {% if item.image %}
                  <div class="list-view-item__image-column">
                    <div class="list-view-item__image-wrapper">
                      <img class="list-view-item__image" src="{{ item.image.src | img_url: '600x600' }}" alt="{{ item.image.alt | escape }}">
                    </div>
                  </div>
                {% endif %}

                <div class="list-view-item__title-column">
                  <div class="list-view-item__title">{{ item.title }}</div>
                  <div class="">
                    {% if item.published_at %}{{ item.published_at | date: "%b %d, %Y" }} &#8212; {% endif %}
                    {{ item.content | strip_html | truncate: 200 }}
                  </div>
                </div>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    {% comment %}
    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
    {% endcomment %}
  {% endif %}

  {% endpaginate %}
</section>

{% schema %}
{
  "name": "Search Feature",
  "settings": [
    {
      "type": "color",
      "id": "section_bg",
      "label": "Section Background Color",
      "default": "#f00"
    },
    {
      "type": "text",
      "id": "product_heading",
      "label": "Products heading",
      "default": "Products"
    }
  ]
}
{% endschema %}
